# Ignorar el lenguaje HTML y CSS en las estadísticas
*.html linguist-detectable=false
*.css linguist-detectable=false

# Forzar a que GitHub trate los archivos .html como si fueran JavaScript
# Esto es útil si tienes la lógica dentro de etiquetas <script>
*.html linguist-language=JavaScript

# Asegurar que los archivos .js reales (si los tienes) cuenten al máximo
*.js linguist-detectable=true
*.js linguist-language=JavaScript
